* {
    /* MISC */
    transition: all 0.1s ease-in-out;
    line-height: 1.5em;
}

body {
    min-width: 320px;
    /* FONT */
    font-family: Arial, Helvetica, sans-serif;
    /* COLOR */
    background: #cd853f;
    /* MARGs & PADs */
    padding: 0;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

h1 {
    box-sizing: border-box;
    /* SIZE */
    width: 100%;
    /* BORDER */
    border-top: 5px solid #4a1f00;
    border-bottom: 5px solid #4a1f00;
    /* COLORs */
    background-color: #d2691e;
    color: #4a1f00;
    /* FONT */
    text-align: center;
    font-size: 2em;
    /* MARGs & PADs */
    padding: 1em 0;
    margin: 1em 0;
}

h1:hover {
    background-color: #4a1f00;
    color: #d2691e;
    border-color: #d2691e;
}

ul {
    /* MARGs & PADs */
    padding: 0;
    margin: 2rem;
    /* MISC */
    list-style: none;
}

ul li {
    /* BORDER */
    border: 2px solid #4a1f00;
    border-radius: 2em;
    /* COLORs */
    background-color: #d2691e;
    color: #4a1f00;
    /* MARGs & PADs */
    padding: 1em;
    margin: 1em;
    /* MISC */
    text-align: justify;
}

ul li:hover {
    /* BORDER */
    border: 2px solid #d2691e;
    /* COLORs */
    background-color: #4a1f00;
    color: #d2691e;
}

ul li a {
    float: right;
    box-sizing: border-box;
    width: min-content;
    /* BORDER */
    border-radius: 1em;
    border: 2px solid #4a1f00;
    /* COLORs */
    background-color: #cd853f;
    color: #4a1f00;
    /* FONT */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* MARGs & PADs */
    padding: 0.25em 1em;
    margin: 0.25em;
    margin-left: 0.5em;
}