@media (min-width: 992px) {
    ul {
        /* DISPLAY */
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    ul {
        /* DISPLAY */
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
    }

    #js {
        grid-column: span 2 / auto;
    }
}

@media (max-width: 767px) {
    ul {
        /* DISPLAY */
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
    }
}